[project]
name = "gateway"
version = "0.0.1"
description = "Cinema API Gateway"
authors = ["Katerina <you@example.com>"]
readme = "README.md"
requires-python = ">=3.13"

[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"
